body{
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:white;
    font-size: 80px;
    font-weight: 900;
    margin-left:700px;
}
p{
    color:white;
    font-size: 30px;
    font-weight: 900;
    /* padding-left: 175px; */
    text-align: center;
    font-family:"Poppins",sans-serif;
}
.box1{
    border: 1px solid #f7bb3d;
    width:400px;
    height:400px;
    margin-left: 200px;
    margin-top: 20px;
    /* padding:20px; */
}
#box2{
    border: 1px solid #f7bb3d;
    width:400px;
    height:400px;
    /* padding-bottom: 300px; */
    /* margin-top:20px; */
    /* padding:20px; */
}
.img{
    display:flex;
    gap:30px;
    margin-top:200px;
    justify-content: space-around;
    padding-bottom: 50px;
}
.footer{
    display: flex;
    gap:100px;
}
.imgofhand{
    position: relative;
    top:500px;
}
.game-image{
    position: absolute;
    display:none;
    top:150px; 
    bottom:150px; 
}
span{
    color:white;
    font-size: 80px;
    font-weight: 900;
}
.heading{
    display: flex;
    justify-content: center;
}
